.sidebaraside{

	position:fixed;
	top:.45rem;
	width:100%;
	height:100%;
	background:#fff;
	color:white;
	z-index:111;
	left:0px;
	.sidebardiv{
			margin-top:.25rem;
		overflow: hidden;
		color: #3e3e3e;
		h4{
			text-align: center;
			height: .7rem;
			line-height: .7rem;
			border-bottom: 2px solid #3e3e3e;
			span{
				display: inline-block;float:left;
			}
		}
	}
}

.example-enter {
  opacity: 0.01;
  transform: translateX(100%);
}

.example-enter.example-enter-active {
  opacity: 1;
   transform: translateX(0px);
  transition: all 500ms ease-in;
}

.example-leave {
  opacity: 1;
   transform: translateX(0px);
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-in;
}
