#footer{
	position:fixed;
	width:100%;
	bottom:0;left:0;z-index:99;
	ul{display:flex;margin:0px; 
		padding:0px;width:100%;
		background: #fff;height:.8rem;
		line-height: .8rem;
		li{
			list-style:none;width:25%;text-align:center;
			font-size: .26rem;
			a{
				color: #3e3e3e;
			}

		}
		
	}
	.active{
		color: red;
	}
}